modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Start App"

[[workflows.workflow]]
name = "Start App"
author = 43072493
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
